*{
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

:root{
    --color-primary: #16194f;
    --color-secondary: #F44E77;
    --color-neutral-1: #CAC7FF;
    --color-neutral-2: #F2F6FF;
    --color-white: #fff;
    --color-black: #000;
    --color-grey-1: #B4B2C5;
    --font-size: 18px;
    --trans: all .4s ease-in-out;
}

body{
    font-family: 'Nunito', sans-serif;
    font-size: var(--font-size);
    color: var(--color-grey-1);
}

a{
    font-size: inherit;
    font-family: inherit;
    font-weight: 400;
}

.navigation{
    min-height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.logo img{
    width: 50px;
    opacity: 0.7;
}

.nav-items{
    display: flex;
    align-items: center;
}

.nav-item{
    margin: 0 2rem;
    position: relative;
}

.nav-item a{
    color: var(--color-grey-1);
    font-weight: 600;
    padding: 1rem;
    transition: var(--trans);
}

.nav-item a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--color-primary);
    visibility: hidden;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    opacity: 0.7;
}

.nav-item a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}

.nav-item a:hover{
    color: var(--color-primary);
}

.icons{
    display: flex;
    align-items: center;
}

.icons .icon{
    margin: 0 1.5rem;
    cursor: pointer;
}

.icons .icon i{
    font-size: 1.5rem;
    color: var(--color-primary);
    opacity: 0.7;
}

/*Header Content*/
.header{
    min-height: 90vh;
}

.header-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 18rem;
    margin-top: 8rem;
    grid-gap: 2rem;
}

.left-header{
    padding-top: 5rem;
}

.h-main{
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 1rem;
}
.h-main span{
    color: var(--color-secondary);
}
.left-header p{
    padding: 2rem 0;
    line-height: 1.8rem;
}
.btn{
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: .7rem 2.2rem;
    border-radius: 7px;
    transition: var(--trans);
}
.btn:hover{
    background-color: var(--color-secondary);
    transform: translateY(-5px);
}
.right-header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.shape{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-secondary);
    z-index: -1;
    transform: skew(-9deg);
    transition: var(--trans);
}
.right-header:hover .shape{
    transform: skew(0);
}
/*About*/
.main-title{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
h2{
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 1rem;
    transition: var(--trans);
    cursor: default;
}
.main-title p{
    font-size: 1.8rem;
    text-transform: uppercase;
    transition: var(--trans);
    cursor: default;
}

.main-title:hover h2{
    transform: skew(-20deg);
    transition: var(--trans);
}
.main-title:hover p{
    transform: skew(-20deg);
    transition: var(--trans);
}
.service-skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding-top: 3rem;
}
.skill-title{
    font-size: 2rem;
    color: var(--color-primary);
    padding-bottom: 1rem;
}

span{
    color: var(--color-secondary);
}
.skill-con{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}
.skill-item{
    display: flex;
    width: 100%;
    align-items: center;
}

.left-skill-sect img{
    width: 70px;
}
.right-skill-sect{
    width: 100%;
    padding-left: 1rem;
}
.progress-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.progress-bar{
    width: 100%;
    height: .6rem;
    background-color: var(--color-neutral-1);
    border-radius: 16px;
    position: relative;
}
.progress{
    height: 100%;
    background-color: var(--color-primary);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 16px;
}
.css{
    width: 80%;
    background-color: var(--color-primary);
}
.ad{
    width: 75%;
}
.py{
    width: 70%;
}
.js{
    width: 85%;
}
/*Utilities*/
.u-pad-3{
    padding: 10rem 18rem;
}